@media (max-width: 581px) {
  .wrap__content {
    width: 96%;
  }
  .hamberger {
    position: absolute;
    top: 50px;
    right: 2%;
    color: #506985;
  }

  .hamberger i {
    font-size: 30px;
  }

  .header__top {
    display: none;
  }

  .wrap__header-main {
    width: 96%;
    margin: 0 auto;
    flex-direction: column;
  }

  .header__brand {
    padding: 30px 0;
  }

  .header__nav {
    text-align: center;
    display: none;
  }

  .header__nav-list {
    margin-bottom: 1px;
    background-color: #506985;
  }

  .header__nav-link {
    color: #fff;
    line-height: 50px;
    display: block;
  }

  .banner__content {
    width: 96%;
  }

  .banner__header {
    font-size: 30px;
  }

  /* body banner */
  .banner__body {
    /* display: none; */
  }

  /* body container */
  .about__body {
    flex-direction: column;
  }

  .about__block {
    margin-bottom: 60px;
    flex-direction: column;
    text-align: center;
  }

  .about__block .header__secondary {
    text-align: center;
  }

  .left__icon {
    margin-bottom: 20px;
  }

  .right__content p {
    text-align: center;
  }
}
